.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.wrapper{
  margin-top: 64px;

}

.form-container{
  border: #282c34 solid 1px;
  border-radius: 8px;
  width: 360px;
  margin: 46px auto;
}

.form__modal{
  padding: 8px;
}